* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px; /* 初期幅 */
  max-width: 600px;
  min-width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  overflow: auto;
}

.dragbar {
  width: 50px;
  background-color: #ddd;
  cursor: ew-resize;
}

.main {
  flex: 1;
  padding: 20px;
  overflow: auto;
}
